argon2-cffi==20.1.0
arrow==1.2.3
cassiopeia==5.0.3
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
chardet==4.0.0
click==8.1.3
cryptography==3.4.8
datapipelines==1.0.7
Flask==2.2.2
Flask-SQLAlchemy==2.5.1
floodgate==2.0.0
greenlet==1.1.3.post0
gunicorn==20.1.0
humanfriendly==10.0
idna==2.10
importlib-metadata==5.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
merakicommons==1.0.10
networkx==2.8.7
numpy==1.23.4
passlib==1.7.4
Pillow==9.2.0
psycopg2-binary==2.8.6
pycparser==2.21
pydantic==1.10.2
PyJWT==2.4.0
python-dateutil==2.8.2
requests==2.25.1
riotwatcher==3.2.3
six==1.16.0
SQLAlchemy==1.4.17
typing_extensions==4.4.0
urllib3==1.26.12
Werkzeug==2.2.2
zipp==3.9.0

pandas~=1.5.1
aiohttp~=3.8.3
scikit-learn~=1.2.0
scipy~=1.9.3