h1 {
    color: darkgoldenrod;
    font-size: x-large;
}
p {
    color: darkgoldenrod;
}

.center {
    text-align: center;
}
body {
    background-image: url("https://github.com/InFinity54/LoL_DDragon/blob/master/extras/wallpapers/wallpaper04.png?raw=true");
    background-size: 100%;
}
.main {
    text-align: center;
    color: darkgoldenrod;
}
a {
    color: darkgoldenrod;
}

a:visited {
    color: darkgoldenrod;
}

a:hover {
    color: darkgoldenrod;
}

a:active {
    color: darkgoldenrod;
}

.game_info {
    display: grid;
    grid-template-columns: auto auto;
    /*flex-grow: 1;*/
    /*flex-direction: column;*/
    justify-content: left;
    border: 5px solid black;
    border-radius: 10px;
}

.team_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 5px solid red;
    border-radius: 10px;
}

.team {
    display: inline-grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid blue;
    border-radius: 10px;
}

.player_info {
    display: flex;
    /*flex-direction: row;*/
    padding: 5px;
}

.player_ign_area {
    display: flex;
    flex-direction: column;
    text-align: left;
    border-color: blue;
    padding: 5px;
}

.zero_text {
    padding: 0;
    margin: 0;
}

.team_expected_container {
    display: flex;
    flex-grow: 4;
    flex-direction: column;
    border-color: magenta;
    padding: 5px;
}

.team_expected {
    display: flex;
    flex-direction: column;
    border: 5px solid green;
    border-radius: 10px;
}

.one_player_stats {
    display: flex;
    flex-direction: row;
}

.act_exp_diff {
    display: flex;
    flex-direction: column;
}
