h1 {
    color: darkgoldenrod;
    font-size: x-large;
}
p {
    color: darkgoldenrod;
}

.center {
    text-align: center;
}

body {
    background-image: url("https://github.com/InFinity54/LoL_DDragon/blob/master/extras/wallpapers/wallpaper04.png?raw=true");
    background-size: 100%;
}

.recent_searches {
    position: relative;
    display: inline-block;
}

.recent_searches_content {
    padding-left: 0;
    display: flex;
    position: absolute;
    background-color: #f6f6f6;
    padding-right: 30%;
    z-index: 1;
}

.recent_searches_content ul {
    padding: 0;
    list-style-type: none;
}

.recent_searches_content li {
    display: block;
    text-align: left;
}

.recent_searches_content li:hover {background-color: #e1e1e1}

a {
    color: darkgoldenrod;
}

a:visited {
    color: darkgoldenrod;
}

a:hover {
    color: darkgoldenrod;
}

a:active {
    color: darkgoldenrod;
}
