p {
    color: darkgoldenrod;
}

h1 {
    color: darkgoldenrod;
    font-size: 1vw;
}
img {
    width: 80%;
    height: 80%;
}
.sidebar {
    text-align: center;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.main {
    text-align: center;
    margin-left: 15%; /* Same as the width of the sidebar */
    padding: 0px 10px;
    color: darkgoldenrod;
}
body {
    background-image: url("https://github.com/InFinity54/LoL_DDragon/blob/master/extras/wallpapers/wallpaper04.png?raw=true");
    background-size: 100%;
}

.icon {
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

.level_border {
    position: absolute;
    bottom: -15%;
    right: -20%;
    width: 140%;
    height: 140%;
    object-fit: scale-down;
}
.level {
    position: absolute;
    bottom: 8px;
    left: 46%;
    color: white;
}

.icon_border_stack{
    position: relative;
    top: 0;
    left: 0;
}

.space {
    padding-top: 8%;
    padding-bottom: 8%;
}
.skin_border_mastery_stack {
    position: relative;
    top: 0;
    left: 0;
}
.mastery {
    position: absolute;
    left: 10%;
    height: 50%;
}
.mastery_points {
    position: absolute;
    left: 35%;
    bottom: 40%;
    font-weight: bolder;
}
.rank_border {
    position: absolute;
    left: 4%;
    bottom: 0%;
    height: 105%;
    width: 90%;
}
.predictions {
    position: absolute;
    left: 38%;
    display: flex;
}
.game_container {
    display: flex;
    /*width: 50%;*/
    /*height: 10vw;*/
    flex-grow: 1;
    justify-content: center;
    border: 5px solid black;
    border-radius: 10px;
}

.game_metadata {
    flex-grow: 1;
}

.game_predict_info {
    flex-grow: 1;
}

.game_player_info {
    display: flex;
    flex-grow: 2;
}

.game_team_1_info {
    flex-grow: 1;
}

.game_team_2_info {
    flex-grow: 1;
}

a {
    color: darkgoldenrod;
}

a:visited {
    color: darkgoldenrod;
}

a:hover {
    color: darkgoldenrod;
}

a:active {
    color: darkgoldenrod;
}