<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/homeStyles.css" />
    <style>
        p {
            color: darkgoldenrod;
        }
        body {
            background-image: url("https://github.com/InFinity54/LoL_DDragon/blob/master/extras/wallpapers/wallpaper04.png?raw=true");
            background-size: 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
</head>
<body>
<div style="text-align: center">
    <p style="font-size: xxx-large">Sorry, this page does not exist!</p>
    <p><img src="https://github.com/InFinity54/LoL_DDragon/blob/master/extras/sticker/poro-shock.png?raw=true" alt="shocked_poro"></p>
</div>
<div class="footer">
    <a href="/predict/about">About</a>
    <a href="mailto:manas@durgi.net">Contact</a>
</div>
</body>
</html>