<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        p {
            color: darkgoldenrod;
        }
        body {
            background-image: url("https://github.com/InFinity54/LoL_DDragon/blob/master/extras/wallpapers/wallpaper04.png?raw=true");
            background-size: 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>429 Rate Limit Exceeded</title>
</head>
<body>
<div style="text-align: center">
    <p style="font-size: xxx-large">Sorry, we are experiencing a lot of traffic right now, please try again later!</p>
    <p><img src="https://github.com/InFinity54/LoL_DDragon/blob/master/extras/sticker/poro-shock.png?raw=true" alt="shocked_poro"></p>
</div>
</body>
</html>