<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/static/homeStyles.css"/>
    {#    <link rel="icon" type="image/png" sizes="32x32" href="/static/android-chrome-512x512.png">#}
    <title>
        Carry.gg
    </title>
</head>
<body>
<div class="center">
    <h1 style="font-size: xxx-large">Carry.gg</h1>
    <p style="font-size: xx-large;">Predict the outcome of a live LoL game.</p>
    <p>add recent + favorite searches using localstorage/fix search by enter </p>
    <form id="search-form">
        <div class="recent_searches">
            <input type="text" placeholder="Enter your IGN (NA)" id="myInput" onclick="displayRecent()"/>
{#            <ul id="recent" hidden="hidden" class="recent_searches_content">#}
{#            </ul>#}
            <div class="recent_searches_content" hidden="hidden" id="recent">
            </div>
        </div>
        <button type="submit">Search</button>
    </form>


</div>

</body>
</html>
<script>
    // get localStorage values if supported
    function init() {
        document.getElementById("recent").innerHTML = ''
        const items = localStorage.getItem("items");
        const itemJson = items ? JSON.parse(items) : [];
        for (const i of itemJson) {
            const node = document.createElement('a');
            node.href = "/predict/profile/" + i;
            node.textContent = i;
            document.getElementById('recent').appendChild(node);
        }
    }

    init();
    document.querySelector("#search-form").addEventListener("submit", search);

    function createLink(name) {
        {#const li = document.createElement("li");#}
        const a = document.createElement("a");
        let url = "/predict/profile/" + name;
        a.href = url;
        a.text = name;
        {#li.appendChild(a);#}
        {#li.textContent = name;#}
        {#console.log(li);#}
        {#return li;#}
        console.log(a);
        return a;
    }

    function search(e) {
        e.preventDefault();
        // Selecting the input element and get its value
        const inputVal = document.getElementById("myInput").value;
        if (!inputVal.trim()) {
            return
        }
        const i = localStorage.getItem("items");
        const items = (i ? JSON.parse(i) : []).slice(0, 10);
        items.push(inputVal);
        localStorage.setItem("items", JSON.stringify(items));
        init();
        // search for that url
        const url = "/predict/profile/" + inputVal;
        // window.alert(url);
        window.location.href = url;
    }

    let mode = "none";

    function displayRecent() {
        const el = document.getElementById("recent");
        el.style.display = mode;
        if (mode === "none") {
            mode = "block";
        } else {
            mode = "none"
        }
    }

</script>
