<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        p {
            color: darkgoldenrod;
        }
        body {
            background-image: url("https://github.com/InFinity54/LoL_DDragon/blob/master/extras/wallpapers/wallpaper04.png?raw=true");
            background-size: 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>Not in Game</title>
</head>
<body>
<div style="text-align: center">
    <p style="font-size: xxx-large">Sorry, {{ ign }} is currently not in a ranked game!</p>
    <p><img src="https://github.com/InFinity54/LoL_DDragon/blob/master/extras/sticker/poro-question.png?raw=true" alt="sad_poro"></p>
</div>
</body>
</html>