<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/gameStyles.css" />
    <meta charset="UTF-8">
    <title>{{ gameid }}</title>
</head>
<div class="main">
    {% if not live %}
        Table is in the form: Expected, Actual, Difference
        <div class="game_info">
            <table>
                <tr>
                    <th>Info</th>
                    <th>towers</th>
                    <th>inhibs</th>
                    <th>first_inhib</th>
                    <th>dragons</th>
                    <th>barons</th>
                    <th>kda</th>
                    <th>first_tower</th>
                    <th>heralds</th>
                    <th>first_drag</th>
                    <th>first_herald</th>
                    <th>fb</th>
                    <th>neutralMinionsKilled</th>
                    <th>Previous Games Played</th>
                </tr>
                {% for player in team_1 %}
                    <tr>
                        <td>
                            <div class="player_info">
                                <img src="https://github.com/InFinity54/LoL_DDragon/blob/master/img/champion/tiles/{{ player["championName"] }}_0.jpg?raw=true" width="10%" height="10%">
                                <div class="player_ign_area">
                                    <p class="zero_text">{{ player["summonerName"] }}</p>
                                    <p class="zero_text">KDA: {{ player["kills"] }}/{{ player["deaths"] }}/{{ player["assists"] }} ({{ "%.2f"|format(player["challenges"]["kda"]) }}:1)</p>
                                    {% set cs = player["totalMinionsKilled"] + player["neutralMinionsKilled"]%}
                                    {% set cs_min = cs/duration %}
                                    <p class="zero_text">CS: {{ cs }} ({{ "%.1f"|format(cs_min) }}/m)</p>
                                </div>
                            </div>
                        </td>
                        {% set i = loop.index0 %}
                        {% for j in range(12) %}
                            <td>
                                <div class="act_exp_diff">
                                    <p class="zero_text">{{ "%.2f"|format(expected[i][0][j]) }}</p>
                                    <p class="zero_text">{{ "%.2f"|format(actual[i][j]) }}</p>
                                    <p class="{{ "neg" if diff[i][j] < 0 else "pos"}}">({{ "%+.2f"|format(diff[i][j]) }})</p>
                                </div>
                            </td>
                        {% endfor %}
                        <td class="zero_text">{{ expected[loop.index0][1] }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    {% for i in range(14) %}
                        <td>
                            <div class="block"></div>
                        </td>
                    {% endfor %}
                </tr>
                {% for player in team_2 %}
                    <tr>
                        <td>
                            <div class="player_info">
                                <img src="https://github.com/InFinity54/LoL_DDragon/blob/master/img/champion/tiles/{{ player["championName"] }}_0.jpg?raw=true" width="10%" height="10%">
                                <div class="player_ign_area">
                                    <p class="zero_text">{{ player["summonerName"] }}</p>
                                    <p class="zero_text">KDA: {{ player["kills"] }}/{{ player["deaths"] }}/{{ player["assists"] }} ({{ "%.2f"|format(player["challenges"]["kda"]) }}:1)</p>
                                    {% set cs = player["totalMinionsKilled"] + player["neutralMinionsKilled"]%}
                                    {% set cs_min = cs/duration %}
                                    <p class="zero_text">CS: {{ cs }} ({{ "%.1f"|format(cs_min) }}/m)</p>
                                </div>
                            </div>
                        </td>
                        {% set i = loop.index0 + 5 %}
                        {% for j in range(12) %}
                            <td>
                                <div class="act_exp_diff">
                                    <p class="zero_text">{{ "%.2f"|format(expected[i][0][j]) }}</p>
                                    <p class="zero_text">{{ "%.2f"|format(actual[i][j]) }}</p>
                                    <p class="{{ "neg" if diff[i][j] < 0 else "pos"}}">({{ "%+.2f"|format(diff[i][j]) }})</p>
                                </div>
                            </td>
                        {% endfor %}
                        <td class="zero_text">{{ expected[loop.index0][1] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
</div>
</html>