<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/profileStyles.css" />
    <meta charset="UTF-8">
    <title>{{ ign }} - Profile</title>
</head>
<body>
    <div class="sidebar">
        <h1>{{ ign }}</h1>
        <div class="space"></div>
        <div class="icon_border_stack">
            <img class="icon" src="https://ddragon.leagueoflegends.com/cdn/12.19.1/img/profileicon/{{ icon }}.png" alt="icon" />
            <img class="level_border" src="../../static/images/Level_{{ img_level }}_Summoner_Icon_Border.png"/>
            <div class="level">{{ level }}</div>
        </div>
        <div class="space"></div>
        <div class="skin_border_mastery_stack">
            <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{ championName }}_{{ skin }}.jpg" alt="" id="champImage"/>
            {% if tier != "UNRANKED" %}
                <img class="rank_border" src="../../static/images/{{ tier }}_{{ rank }}.png" onclick="changeImage()"/>
            {% else %}
                <img class="rank_border" src="../../static/images/UNRANKED.png" onclick="changeImage()"/>
            {% endif %}
            <img class="mastery" id="mastery" src="https://github.com/InFinity54/LoL_DDragon/blob/master/extras/masteries/masteries{{ championLevel }}.png?raw=true" hidden="hidden">
            <p class="mastery_points" id="mastery_points" hidden="hidden">{{ championPoints }}pts</p>
        </div>
        <div class="space"></div>
        <p>{{ tier }} {{ rank }}</p>
        {% if tier != "UNRANKED" %}
            <p>{{ leaguePoints }}lp</p>
        {%  endif %}
        <p>Wins: {{ wins }} Losses: {{ losses }}</p>
        <p><a href="https://www.op.gg/summoners/na/{{ ign }}" target="_blank">op.gg</a></p>
    </div>
    <div class="main">
        <p id="hid" hidden="hidden">{{ hidden }}</p>
        {% if not hide %}
            {%  if pending == "predict" %}
                <a href="/predict/profile/{{ ign }}/live" target="_blank">
                    <button id="predictBtn" type="submit">Predict Live Game!</button>
                </a>
            {%  else %}
                <a href="/predict/profile/{{ ign }}/live" target="_blank">
                    <button id="predictBtn" type="submit">View Live Game!</button>
                </a>
            {%  endif %}
        {% else %}
            <h1 id="igbanner">{{ ign }} is not in game!</h1>
        {% endif %}
        <h2>Predictions:</h2>
        {% if not pred %}
            <p>No Predictions?</p>
            <img src="https://github.com/InFinity54/LoL_DDragon/blob/master/extras/sticker/poro-sweat.png?raw=true" style="width: 25%; height: 25%">
        {% endif %}
        <div class="predictions">
            <ol style="list-style: none">
                {% for row in pred %}
                    <li class="game_container" style="background-color: {{ row[6] }}">
                        <div class="game_metadata">
                            {% if row[7] %}
                                <p> <a href="/predict/profile/{{ ign }}/live" target="_blank">Game Info</a></p>
                            {% else %}
                                <p> <a href="/predict/game/{{ row[0][2] }}" target="_blank">Game Info</a></p>
                            {% endif %}
                            <p>{{ row[0][0] }}</p>
                            <p>{{ row[0][1] }}</p>
                        </div>
                        <div class="game_predict_info">
                            <p>Predicted Winner: {{ row[3] }}</p>
                            <p>Actual Winner: {{ row[4] }}</p>
                            <p>Predicted Chance: {{ row[5] }}</p>
                        </div>
                        <div class="game_player_info">
                            <div class="game_team_1_info">
                                <ol style="list-style: none">
                                    Team 1:
                                    {% for player in row[1] %}
                                        <li> <a href="/predict/profile/{{ player }}" target="_blank">{{ player }}</a></li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <div class="game_team_2_info">
                                <ol style="list-style: none">
                                    Team 2:
                                    {% for player in row[2] %}
                                        <li> <a href="/predict/profile/{{ player }}" target="_blank">{{ player }}</a></li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </li>
                {%  endfor %}
            </ol>
        </div>
    </div>
</body>
<script>
    function changeImage() {
        if (document.getElementById("mastery").hidden === false){
            document.getElementById("mastery").hidden = true;
            document.getElementById("champImage").style.opacity = '1';
            document.getElementById("mastery_points").hidden = true;
        } else {
            document.getElementById("mastery").hidden = false;
            document.getElementById("champImage").style.opacity = '.2';
            document.getElementById("mastery_points").hidden = false;
        }
    }
    window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
            window.location.reload();
        }
    });
</script>
</html>

